# --- SENSITIF (WAJIB ADA) ---
.env
config.json
secrets.py
credentials.json
*.pem
*.key

# --- DATABASE & LOG ---
*.db
*.sqlite
*.log
npm-debug.log*

# --- NODE.JS / PYTHON ---
node_modules/
venv/
.venv/
__pycache__/

# --- CLOUD SHELL / IDE ---
.vscode/
.cloudshell_last_opened
.DS_Store
.env.yaml
